
lst-*.lst
travail.txt
ok_echa.pdf
*.aux
*.log
*.bbl
*.out
*.idx
*.nlo
*.blg
*.toc
*.nls
*.auxlock
*.ind
*.ilg
exocorr.sty.bak
.*~
.*~
.viminfo
__pycache__/*
all-echa.pdfsync
all-echa.ps
all-echa.pytex
all-echa_pytex.pdf

.*~
.*~
.viminfo
.*~
.*~
.viminfo
*.aux
*.log
*.bbl
*.out
*.idx
*.nlo
*.blg
*.toc
*.nls
*.auxlock
*.ind
*.ilg
.*~
.*~
.viminfo
*.aux
*.log
*.bbl
*.out
*.idx
*.nlo
*.blg
*.toc
*.nls
*.auxlock
*.ind
*.ilg
lst_analyse.pyc
physique-math.pdf.bak
tout-echa.ps
.*~
.*~
.viminfo
*~
.*~
*.swp
.viminfo
*.aux
*.log
*.bbl
*.out
*.idx
*.nlo
*.blg
*.toc
*.nls
*.auxlock
*.ind
*.ilg
*.synctex.gz
.directory
.specif.vim
0-all-echa.dvi
0-all-echa.pdf
0-all-echa.pdfsync
0-all-echa_pytex.pdf
0-analyse-echa.pdf
analyse-echa.pdf
echa.dvi
echa.pdf
echa.pdfsync
echa.ps
